* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif, Helvetica, Arial;
  text-decoration: none;
}

.clearfix {
  clear: both;
  float: none;
}

.alerta {
  padding: 5px;
  font-size: 14px;
  color: white;
  background: green;
  box-shadow: 0px 1px 3px #ccc;
  margin-bottom: 15px;
  border-radius: 2px;
}

.alerta-error {
  background: rgb(165, 21, 21);
}

#cabecera {
  width: 85%;
  height: auto;
  background: transparent;
  margin: 0px auto;
}

#logo {
  margin-left: -90px;
}

#logo a {
  font-family: 'fajala', Helvetica;
  font-size: 40px;
  letter-spacing: 2px;
  color: darkcyan;
  text-shadow: 0px 0px 0px black, 1px 1px 0px black, 2px 2px 0px black;
  transition: all 500ms;
  line-height: 90px;
  margin-left: 10px;
}

#logo a:hover {
  cursor: pointer;
  text-shadow: 0px 0px 0px black, -1px -1px 0px black, -2px -2px 0px black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #e6ecff;
}

th {
  background-color: darkcyan;
  color: white;
}
/*MENU*/
#menu {
  clear: both;
  width: 109%;
  margin-left: -90px;
  height: 45px;
  background: linear-gradient(to bottom, #f9f9f9 0px, #e9e9e9 100%);
  border: 1px solid #c9c9c9;
  border-radius: 8px;
  box-shadow: 0px 1px 1px #ccc;
  overflow: hidden;
}

#menu ul {
  list-style: none;
}

#menu ul li {
  float: left;
  line-height: 44px;
  border-right: 1px solid #d6d6d6;
}

#menu ul li a {
  display: block;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15px;
  color: #838282;
}

#menu ul li a:hover {
  background: linear-gradient(to bottom, #f2f2f2 0px, #dad9d4 100%);
}

#alumnos {
  font-family: 'fajala', Helvetica;
  font-size: 40px;
  letter-spacing: 2px;
  margin-left: 10px;
}
/*CONTENIDO*/
#contenedor {
  width: 100%;
  height: auto;
  margin: 0px auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

label,
input[type='text'],
input[type='email'] {
  display: block;
  width: 95%;
  margin-top: 2px;
  margin-bottom: 2px;
}

input[type='text'],
input[type='email'] {
  padding: 5px;
  margin-bottom: 10px;
}

input[type='button'],
input[type='submit'],
.boton {
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  border-radius: 2px;
  color: white;
  background: darkcyan;
  border: 1px solid #156785;
  cursor: pointer;
  padding: 7px;
}

#principal {
  float: left;
  width: 90%;
  min-height: 572px;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc;
  margin-left: 20px;
  padding: 20px;
  overflow: hidden;
}

#principal a {
  color: #333;
}

#principal h1 {
  font-size: 32px;
  color: #444;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px #ccc;
  font-family: 'fajala';
}

#principal h2 {
  font-size: 20px;
  color: darkcyan;
  text-shadow: 1px 1px 2px #ccc;
  letter-spacing: 1px;
  font-family: 'fajala';
  margin-top: 25px;
}

#principal p {
  margin-top: 8px;
}
